In [0]:
import pandas as pd

In [0]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [0]:
data=pd.read_csv('MyUberDrives.csv')

In [0]:
df=pd.DataFrame(data)

In [7]:
df.head()

      START_DATE*       END_DATE* CATEGORY*  ... RATING REST_STOPS  SATISFIED
0  1/1/2016 21:11  1/1/2016 21:17  Business  ...      4          6          1
1   1/2/2016 1:25   1/2/2016 1:37  Business  ...      4          5          0
2  1/2/2016 20:25  1/2/2016 20:38  Business  ...      2          5          0
3  1/5/2016 17:31  1/5/2016 17:45  Business  ...      1          5          0
4  1/6/2016 14:42  1/6/2016 15:49  Business  ...      3         64          0

[5 rows x 10 columns]

In [13]:
#linear regression

reg=linear_model.LinearRegression()
reg.fit(df[['MILES*']],df.REST_STOPS)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [18]:
#predicting rest stops for 70 miles

reg.predict([[70]])

array([70.01039896])